html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
    color: #E82C8D;
}

h2, p{
    padding: 31px 17%;
}

footer{
    position: fixed;
    bottom: 0;
}